body{
  background-color:#200040;
  color:white;
  
}
.entry{
  border: 4px solid #dfffc0;
  border-radius:16px;
  font-family:sans-serif;    
}
h3{
  font-family:"Courier New";
}
h1{
  font-family:sans-serif;
}
#map{
  height:1000px;
  width:1000px;
}
.line{
  height:32px;
  width:32px;
  border-radius:16px;
}
#cyan{
  background:#00ffff;
  color:#000000;
}
#yellow{
  background:#ffff00;
  color:#000000;
}
